body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #000;
  border: 5px solid #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

canvas {
  border: 2px dashed red;
}
